body{
    background-color: #3e4c9b;
}

.secondary-content{
    color:rgb(39, 133, 173);
}

.hidden{
    display: none;
}

.btn{

    background-color:rgb(39, 133, 173);
    color: white;
    opacity: 1;

    
}

